{{ $item := .item }}
{{ $item_index := add .index 1 }}

<div class="paper-item row view-citation" style="">


  <div class="col-12 col-md-3">
    <div class="j-year">{{ $item.year | markdownify | safeHTML}}</div>
  </div>
  <div class="col-12 col-md-9">
    <div class="pub-title">{{/* $item_index */}} {{ $item.title | markdownify | safeHTML}}</div>
    <div class="pub-author">{{ $item.authors | markdownify | safeHTML}}</div>
    <div class="pub-pages">
      <span class="j-name"> {{ $item.journal | markdownify | safeHTML}}</span>
      <span class="j-info"> {{ $item.journal_info | markdownify | safeHTML}}</span>.
    </div>
    {{if $item.notes}}
    <div class="pub-notes">{{ $item.notes | markdownify | safeHTML}}</div>
    {{end}}

  </div>


</div>
