{{/* Portfolio Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $st := .page }}


{{/*<div ></div>
<div class="col-12  col-lg-4 section-heading">
    {{ with $st.Params.title }}<h1>{{ . }}</h1>{{ end }}
  <p>Some of my projects, enjoy!</p>
</div>*/}}


<div class="col-12  col-lg-8  home-pubs-section">

  {{ range $st.Params.pubs_list }}
  <div class="media stream-item view-compact" style="align-items: stretch;">
    <div class="media-body">


      <div>
        <span class="pub-author">{{ .authors  | markdownify | emojify }}</span>.
        <span class="pub-title">{{ .title  | markdownify | emojify }}</span>.
        {{ with .journal }}<span class="pub-journal">{{ . | markdownify | emojify }}</span> {{ end }}
      </div>
        {{with .links}}
          <div class="btn-links">
              {{ range $idx, $item := . }}
                <a class="btn btn-outline-primary btn-page-header btn-sm"
                   href="{{ $item.url }}">
                    {{ $item.name  | markdownify | emojify }}
                </a>
              {{end}}
          </div>
        {{end}}

    </div>
   {{/* <div class="ml-3 home-prj-img-icon-wrap">
        {{ with .image }} <img src="{{ . }}" class="home-project-icon-image" loading="lazy" /> {{ end }}
    </div>*/}}
  </div>
  {{ end }}


</div>
